<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TestProject/src/com/mapreduce/test/TestWc.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.mapreduce.test.TestWc"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="C:\Users\Gogol\Documents\GitHub\MapReduceCodeExamples\TestProject\input\wcinput&#13;&#10;C:\Users\Gogol\Documents\GitHub\MapReduceCodeExamples\TestProject\output"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TestProject"/>
</launchConfiguration>
